---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeltay</title>
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Yeltay | Tech Soft Skills and Career Growth</title>
      <meta name="title" content="Yeltay | Tech Soft Skills and Career Growth" />
      <meta name="description" content="Mentor in Tech Soft Skills and Career Growth." />
  
      <!-- Open Graph Meta Tags -->
      <meta property="og:title" content="Yeltay | Tech Soft Skills and Career Growth">
      <meta property="og:description" content="Improve your soft skills, boost your career.">
      <meta property="og:image" content="https://yeltay.com/assets/my-photo.jpg">
      <meta property="og:url" content="https://yeltay.com/">
      <meta property="og:type" content="website">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
  
      <!-- Twitter Card Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Yeltay | Tech Soft Skills and Career Growth">
      <meta name="twitter:description" content="Improve your soft skills, boost your career.">
      <meta name="twitter:image" content="https://yeltay.com/assets/my-photo.jpg">
  
      <!-- Fallback for Telegram -->
      <meta name="description" content="Mentor in Tech Soft Skills and Career Growth.">
  
      <!-- Basic Meta Tags -->
      <meta name="robots" content="index, follow">
      <link rel="canonical" href="https://yeltay.com/">
  </head>
  
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <Hero />
    <Features />
	  <Testimonials />
    <Pricing />
    <Footer />
  

  </body>
</html>
