<footer class="bg-[#0f0830] text-[#d3d2e5] py-8 sm:py-12">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      
      <!-- Logo and Description -->
      <div class="flex flex-col mb-8 sm:mb-0">
        <a href="#hero" class="flex items-center mb-4">
          <img class="h-12 w-12 rounded-full mr-3" src="/y-boost/assets/y_boost_logo_white.svg" alt="Y-Boost logo">
          <span class="text-2xl font-bold">Yeltay</span>
        </a>
        <p class="text-sm text-[#d3d2e5]">Empowering your success through innovative and exceptional service.</p>
      </div>
      
      <!-- Contact Info -->
      <div class="mb-8 sm:mb-0">
        <h3 class="text-lg font-semibold mb-4 text-[#d3d2e5]">Contact Me</h3>
        <ul class="space-y-2 text-[#d3d2e5]">
          <li>Email: <a href="mailto:bayandinov13@gmail.com" class="hover:text-[#3282B8]">bayandinov13@gmail.com</a></li>
          <li>Phone KZ: <a href="tel:+77081475323" class="hover:text-[#3282B8]">+7(708)147-53-23</a></li>
          <li>Phone US: <a href="tel:+16506849826" class="hover:text-[#3282B8]">+1(650)684-9826</a></li>
        </ul>
      </div>
      
      <!-- Social Media -->
      <div class="mb-8 sm:mb-0">
        <h3 class="text-lg font-semibold mb-4 text-[#d3d2e5]">Follow Me</h3>
        <div class="flex space-x-4">
          <a href="https://github.com/Yeltay13" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
            <img class="w-6 h-6" src="/y-boost/assets/github.svg" alt="GitHub Profile">
          </a>
          <a href="https://t.me/yelty" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
            <img class="w-6 h-6" src="/y-boost/assets/telegram.svg" alt="Telegram Profile">
          </a>
          <a href="https://www.instagram.com/bayandinov13" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
            <img class="w-6 h-6" src="/y-boost/assets/instagram.svg" alt="Instagram Profile">
          </a>
        </div>
      </div>
      
    </div>
  </div>
</footer>
