<section id="home" class="flex flex-col md:flex-row justify-start items-center py-20" style="background: linear-gradient(135deg, #0f0830 30%, #700c9b 100%);">
  <div class="text-left max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-300">Improve your soft skills. Boost your career.</h1>
    <p class="mt-4 text-lg text-gray-300">
      Hi, I'm Yeltay!<br>
      I empower IT professionals by enhancing soft skills and boosting career growth. With a passion for teaching and coding, I guide you in mastering foreign languages and essential industry skills. Elevate your career with confidence and clarity—let's succeed together!
    </p>
    <div class="mt-8 flex justify-start space-x-4">
      <a href="https://t.me/yelty" target="_blank" rel="noopener noreferrer" class="rounded-md bg-[#700c9b] px-4 py-2 text-gray-300 font-semibold hover:bg-[#0F4C75]">
        Get started
      </a>
      <a href="#features" class="rounded-md border border-[#700c9b] px-4 py-2 text-gray-300 font-semibold hover:bg-[#3282B8] hover:text-[#BBE1FA]">
        Explore Features
      </a>
    </div>

    <!-- Social Media Icons -->
    <div class="mt-8 flex space-x-4">
      <a href="https://github.com/Yeltay13" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
        <img class="w-6 h-6" src="/y-boost/assets/github.svg" alt="GitHub Profile">
      </a>
      <a href="https://t.me/yelty" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
        <img class="w-6 h-6" src="/y-boost/assets/telegram.svg" alt="Telegram Profile">
      </a>
      <a href="https://www.instagram.com/bayandinov13" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
        <img class="w-6 h-6" src="/y-boost/assets/instagram.svg" alt="Instagram Profile">
      </a>
      <a href="https://www.linkedin.com/in/yeltay/" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
        <img class="w-6 h-6" src="/y-boost/assets/linkedin.svg" alt="Linkedin Profile">
      </a>
    </div>
  </div>

  <div class="mt-8 md:mt-0 md:ml-[4rem] flex-shrink-0">
    <img src="/y-boost/assets/my-photo.png" alt="My Photo" class="w-64 h-auto rounded-full">
  </div>
</section>
