<section id="home" class="flex flex-col md:flex-row justify-start items-center py-20 relative" style="background-color: #0f0830;">
  <div class="text-left max-w-7xl px-4 sm:px-6 lg:px-8 relative z-10">
    <h1 class="text-4xl font-bold text-gray-300">Improve your soft skills. Boost your career.</h1>
    <p class="mt-4 text-lg text-gray-300">
      Hi, I'm yeltay!<br>
      I empower IT professionals by enhancing soft skills and boosting career growth. With a passion for teaching and coding, I guide you in mastering foreign languages and essential<br> industry skills. Elevate your career with confidence and clarity—let's succeed together!
    </p>
    <div class="mt-8 flex justify-start space-x-4">
      <a href="https://t.me/yelty" target="_blank" rel="noopener noreferrer" class="rounded-md bg-[#700c9b] px-4 py-2 text-gray-300 font-semibold hover:bg-[#0F4C75]">
        Get started
      </a>
      <a href="#features" class="rounded-md border border-[#700c9b] px-4 py-2 text-gray-300 font-semibold hover:bg-[#3282B8] hover:text-[#BBE1FA]">
        Explore Features
      </a>
    </div>

    <!-- Social Media Icons -->
    <div class="mt-8 flex space-x-4">
       <a href="https://github.com/yeltay1313" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
            <img class="w-6 h-6" src="/assets/github.svg" alt="GitHub Profile">
          </a>
          <a href="https://t.me/yelty" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
            <img class="w-6 h-6" src="/assets/telegram.svg" alt="Telegram Profile">
          </a>
          <a href="https://www.instagram.com/bayandinov13" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
            <img class="w-6 h-6" src="/assets/instagram.svg" alt="Instagram Profile">
          </a>
          <a href="https://www.linkedin.com/in/yeltay13/" target="_blank" rel="noopener noreferrer" class="text-[#d3d2e5] hover:text-[#3282B8] transition duration-300">
            <img class="w-6 h-6" src="/assets/linkedin.svg" alt="Linkedin Profile">
          </a>
    </div>
  </div>

  <!-- Photo -->
  <div class="mt-8 md:mt-0 md:mr-[1rem] flex justify-start items-center flex-shrink-0 relative z-10">
    <img src="/assets/my-photo.jpg" alt="My Photo" class="w-82 h-72 rounded-full object-cover md:ml-8">
  </div>

  <!-- Overlay for darker gradient background -->
  <div class="absolute inset-0 bg-[#0f1217] opacity-50 z-0"></div>
</section>
